body { margin: 0px; }
/* canvas { position: absolute; top: 0; left: 0; z-index: -100; } */
canvas { cursor: url(pencil.png) 5 16, auto; }
.resize canvas { cursor: url(resize.png) 9 4, auto; }

.scroll_container {
  position: absolute;
  overflow-y: scroll;
}
.scroll_content {
}
#canvas_container { display: inline-block; }
.minibuffer {
  position: fixed;
  bottom: 0px;
  height: 24px;
  width: 100%;
  padding: 10px;
  pointer-events: none;
}

.minibuffer .input_container {
  position: absolute;
  bottom: 0px;
  left: 40px;
  right: 0px;
  top: 0px;
}
.minibuffer input {
  background-color: transparent;
  font-family: monospace;
  font-size: 18px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  top: 0px;
  border: none;
}
.mbcont {
  background-color: #ddd;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 8px;
  right: 0px;
  pointer-events: auto;
}
.minibuffer input:focus { outline: none; }

.minibuf-enter{
  top: 44px;
}

.minibuf-enter.minibuf-enter-active  {
  top: 0px;
  transition: top 200ms ease-in;
}

.minibuf-leave {
  top: 0px;
}

.minibuf-leave.minibuf-leave-active   {
  top: 44px;
  transition: top 200ms ease-in;
}
